@require '~vuepress-plugin-tabs/dist/themes/default.styl'

aside.sidebar
  border-right: 0px
  box-shadow: 2px 0 4px 1.5px rgba(232,237,250,0.6)

.refbox
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right