/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5a91ea;
  --ifm-color-primary-dark: #3d7ee6;
  --ifm-color-primary-darker: #2f74e5;
  --ifm-color-primary-darkest: #1a5dc9;
  --ifm-color-primary-light: #77a4ee;
  --ifm-color-primary-lighter: #85aeef;
  --ifm-color-primary-lightest: #b0caf5;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
